$blue: hsl(246, 80%, 60%);
$lightBlue: hsl(195, 74%, 62%);
$orange: hsl(15, 100%, 70%);
$red: hsl(348, 100%, 68%);
$green: hsl(145, 58%, 55%);
$violet: hsl(264, 64%, 52%);
$yellow: hsl(43, 84%, 65%);

$darkGray: hsl(226, 43%, 10%); 
$darkBlue: hsl(236, 45%, 20%);
$mediumDarkBlue: hsl(236, 41%, 34%);
$purple: hsl(235, 45%, 61%);
$lightPurple: hsl(236, 100%, 87%);
$white: hsl(0, 0%, 100%);
